h1 {
    color:blue;
    font-size: 90px;
}

p {
    color:rgb(255, 0, 55);
    font-size: 070px;
}

#parrafo {
    font-size: 055px;
    color: green;
}
#parrafo2 {
    font-size: 040px;
    color: blue;
}